extends layout

block content
    section.panel.panel-info
      div.panel-heading Политика конфиденциальности
      article.panel-body
          ol
             li.
                Термин “личная информация”, используемый в настоящем документе, определяется как любая информация, которая идентифицирует или может использоваться для идентификации, связи или поиска человека, к которому такая информация относится. Личная информация, которую мы собираем, будет являться предметом настоящей политики конфиденциальности, с вносимыми время от времени поправками.
             li.
                Мы не запрашиваем Ваш адрес электронной почты, телефон или какую нибудь информацию о Вас.
             li Мы не продаем контент.
             li Мы не требуем регистрации.
             li Безопасность Вашей персональной информации не будет нарушена.
             li Мы не просим информацию о местоположении через наше мобильное приложение.
             li Мы не отправляем на электронную почту рассылку новостей.
             li Мы не используем ваши контакты, личные документы, фото и какой либо иной контент.
      div.panel-footer Требуемые разрешения:
        ul
          li Мы сохраняем модель Вашего мобильного телефона c целью улучшения качества приложения.

